.cli-message-content {
    position: relative;
    display: flex;
    z-index: 10;
    margin-bottom: 10px;
    align-items: center;
    min-height: 50px;
    padding: 10px 0 10px 15px;
    background: #2E2E34;
    width: 100%;
    box-sizing: border-box;

    .user-icon {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .user-question {
        width: 100%;
        padding-right: 10px;
        padding-left: 35px;
        font-size: 14px;
        word-wrap: break-word;
        white-space: normal;
        line-height: 18px;
        color: #fff;
        box-sizing: border-box;
        overflow-wrap: break-word;
        .copy-icon {
            margin-left: 5px;
            margin-top: 2px;
        }
    }
}