.popup {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: #101015;
	padding: 0 10px;

	.chat-content {
		position: relative;
		box-sizing: border-box;
		height: calc(100vh - 100px);
	}
}