.cli-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: calc(100% -20px);
    max-height: 60px;
    height: 60px;
    min-height: 60px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 10px;
    z-index: 1;
    background: #242429;
    border-radius: 8px;
    outline: transparent solid 1px;
    cursor: text;
    transition-property: min-height, height, width, transform, border-radius, box-shadow;
    margin: 0 10px 10px 10px;

    .ant-input {
        background: transparent;
        border: none;
        font-size: 14px;
        box-sizing: border-box;
        color: #fff;
        word-break: break-all;
        min-height: 30px;
        max-height: 40px;
        line-height: 22px;
        display: flex;
        align-items: center;
        padding: 2px 5px 0 10px;
        margin: 0;
    }
    .ant-input::placeholder {
        color: #9E9E9E;
    }
    .ant-input:focus {
        box-shadow: none;
    }

    .anticon {
        cursor: pointer;
        font-size: 18px;
        color: #fff;
        margin-right: 5px;
    }

    .promptIcon {
        cursor: pointer;
    }

    .AbortBtnContent {
        width: 20px;
        min-width: 20px;
        height: 20px;
        min-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #fff;
        .StopButContent {
            width: 8px;
            height: 8px;
            background: #fff;
        }
    }
}

.send-but {
    box-sizing: border-box;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #3AC89F;
    cursor: pointer;
    .iconImg {
        width: 18px;
        height: auto;
    }
}

.easy-modal {
    position: absolute;
    bottom: 70px;
    width: 100%;
    height: 230px;
    background: #242428;
    margin: auto;
    border-radius: 5px;
    left: 0;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    .tab-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #57575A;
        padding-bottom: 5px;
        .item-tab {
            font-size: 14px;
            font-family: Inter;
            font-weight: 700;
            color: #fff;
            padding: 5px 10px;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
                color: #3AC89F;
            }
        }
        .active {
            background: rgba(58, 200, 159, 0.2);
            color: #3AC89F;
            border: 5px;
        }
    }

    .data-content {
        position: relative;
        margin-top: 10px;
        height: calc(100% - 45px);
        overflow: auto;
    }

    .ant-tabs {
        .ant-tabs-nav {
            .ant-tabs-nav-wrap {
                .ant-tabs-nav-list {
                    .ant-tabs-tab {
                        .ant-tabs-tab-btn {
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 700;
                            color: #fff;
                            padding: 5px 10px;
                            border-radius: 2px;
                            cursor: pointer;
                            &:hover {
                                color: #3AC89F;
                            }
                        }
                    }
                    .ant-tabs-tab-active {
                        .ant-tabs-tab-btn {
                            background: rgba(58, 200, 159, 0.2);
                            color: #3AC89F;
                            border: 5px;
                        }
                    }
                }
            }
        }
    }
}

/* 定义渐变显示的关键帧动画 */
@keyframes fade-in {
    0% {
        opacity: 0; /* 开始时完全透明 */
    }
    100% {
        opacity: 1; /* 结束时完全不透明 */
    }
}

/* 应用动画到指定的元素 */
.fade-in-element {
    animation: fade-in 1s ease-out; /* 使用1.5秒的时间来执行动画 */
}